@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

html {
  font-size: 16px;
  color: #535353;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 15px;
  }
  .logoWP {
    height: 7rem;
  }
}
body {
  font-family: "Inter", Arial, sans-serif;
  position: relative;
  min-height: 100vh;
}

.mainDetail {
  padding-top: 3rem;
  background-color: rgb(235, 234, 234);
}

.card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border: 1px solid rgb(247, 247, 247);
}
.card__products-count {
  font-size: 1rem;
}
.card__header {
  height: 400px;
  background-color: orange;
  overflow: hidden;
}
.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__body {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  flex-grow: 1;
}
.card__title {
  display: flex;
  font-weight: 500;
  font-size: 1.1rem;
  border-bottom: 2px solid;
}
.card__description {
  padding: 0 0 2rem;
  font-size: 1rem;
  flex-grow: 1;
}
.card__texto {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 1rem;
}
.card__list {
  padding: 1.5rem 0 2rem;
  list-style-type: none;
  font-size: 0.8rem;
  margin-top: 1px;
}
.card__info {
  display: flex;
  justify-content: space-between;
}
.card__price {
  font-weight: 500;
  font-size: 1.3rem;
  padding-top: 1rem;
  padding-bottom: 0;
}
.card__date {
  padding-top: 1rem;
}
.card__btn {
  padding: 1rem 1.5rem;
  background-color: rgba(0, 0, 0, 0.2039215686);
  color: white;
  border-radius: 8px;
}
.card__btn:hover {
  box-shadow: 0 0 5px #858585;
  transition: all 0.5s ease;
}
.card__btn-buy1 {
  padding: 1rem 1.5rem;
  background-color: #c3a343;
  color: white;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  pointer-events: none;
}
.card__btn-buy1:hover {
  box-shadow: 0 0 5px #858585;
  transition: all 0.5s ease;
}
.card__btn-buy:hover {
  box-shadow: 0 0 5px #858585;
  transition: all 0.5s ease;
}
.card__footerCard {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 0;
  padding: 0.5rem;
  margin-bottom: 1;
}
.card__footerCardDetail {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 0;
  padding: 0.5rem;
  margin-bottom: 1;
}

.enable {
  pointer-events: all;
}

.alert-dialog {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #85a089;
  padding: 2rem 3rem;
  font-size: 1rem;
  color: white;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  border-radius: 1rem;
  transition: visibility linear 0.5s, opacity 0.5s linear;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.alert-dialog.show {
  visibility: visible;
  opacity: 1;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
}

.loginName {
  color: black;
  font-size: 0.7rem;
}

.navbar {
  height: 50px;
  background-color: rgb(245, 245, 245);
  display: flex;
  align-items: center;
  position: relative;
}
.navbar__logo {
  height: 45px;
}
.navbar__menu-label {
  color: rgb(255, 255, 255);
  height: 42px;
  background-color: #C3A343;
  border-radius: 5px;
  width: 42px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__menu-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.navbar__menu-btn:checked ~ .navbar__nav-links-container {
  height: calc(100vh - 50px);
}
.navbar__menu-icon {
  height: 2px;
  background-color: rgb(255, 255, 255);
  width: 18px;
  position: relative;
}
.navbar__menu-icon::after, .navbar__menu-icon::before {
  content: "";
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 100%;
  transition: all 0.2s ease-out;
}
.navbar__menu-icon::after {
  top: 5px;
}
.navbar__menu-icon::before {
  top: -5px;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon {
  background: transparent;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::after {
  transform: rotate(45deg);
  top: 0;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::before {
  transform: rotate(-45deg);
  top: 0;
}
.navbar__nav-links-container {
  list-style: none;
  position: absolute;
  top: 50px;
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar__nav-item {
  padding: 1.25rem 1rem;
  text-align: center;
}
.navbar__nav-item:not(:last-child) {
  border-bottom: 2px solid rgb(156, 156, 156);
}
.navbar__nav-item1 {
  padding: 1.25rem 1rem;
  text-align: center;
}
.navbar__nav-item1:not(:last-child) {
  border-bottom: 2px solid rgb(156, 156, 156);
}
.navbar__nav-link {
  color: black;
  cursor: pointer;
  font-size: 1rem;
}
.navbar__nav-link-login {
  color: black;
  font-size: 0.8rem;
}
.navbar__nav-link1 {
  color: black;
  cursor: pointer;
  font-size: 1rem;
  padding-bottom: 0.1rem;
  font-weight: 500;
}
.navbar__nav-link:hover {
  color: #C3A343;
  font-weight: 400;
}
.navbar__nav-link1:hover {
  color: #C3A343;
  font-weight: bold;
}

.fa-cart-shopping {
  color: orange;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  position: relative;
}

.user-navbar {
  margin-left: auto;
  color: white;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0 1rem;
}
.user-navbar__avatar-container {
  background-color: #C3A343;
  display: flex;
  flex-direction: center;
  text-align: center;
  width: 300px;
}
.user-navbar__user-avatar-container {
  text-align: center;
}
.user-navbar__user-avatar {
  width: 1.8rem;
  opacity: 1;
  color: orange;
  margin-left: auto;
}
.user-navbar__cart-icon-container {
  color: orange;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  position: relative;
}
.user-navbar__cart-badge {
  position: absolute;
  top: -5px;
  right: -3px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 0.7rem;
  text-align: center;
  padding-top: 1.55px;
}

.rojo {
  color: red;
}

@media screen and (min-width: 600px) {
  .navbar__menu-label, .navbar__menu-btn {
    display: none;
  }
  .navbar__nav-links-container {
    position: static;
    flex-direction: row;
    height: 100% !important;
    width: auto;
  }
  .user-navbar {
    order: 3;
  }
}
@media screen and (max-width: 500px) {
  .navbar__nav-link-login {
    font-size: 0.5rem;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(168, 165, 165);
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-right: 5rem;
}
.footer__logo {
  display: flex;
  justify-content: center;
  margin: auto;
}
.footer__contact-item {
  list-style: none;
}
.footer__column {
  justify-content: space-between;
  padding: 1rem 1.5rem;
}
.footer__contact-link {
  color: white;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #535353;
}
.footer__contact-link:hover {
  font-weight: 300;
}
.footer__contact-icon {
  font-size: 1.75rem;
}
.footer__contact-icon--facebook {
  color: #38529a;
}
.footer__contact-icon--instagram {
  color: #f14d59;
}
.footer__contact-icon--linkedin {
  color: #0077b6;
}
.footer__contact-icon--phone {
  color: rgba(16, 224, 16, 0.5607843137);
}
.footer__contact-icon--location {
  color: #003fee;
}
.footer__contact-icon--email {
  color: rgb(255, 254, 254);
}
.footer__contact-icon--home {
  color: rgb(6, 125, 180);
}

@media screen and (min-width: 600px) {
  .footer {
    flex-direction: row;
  }
}
@media screen and (max-width: 500px) {
  .footer__contact-link {
    padding: 0.1rem;
  }
  .footer__column {
    padding: 0.3rem 1.5rem;
  }
  .footer__company-name {
    font-size: 1.3rem;
  }
  .footer__copyrigth {
    font-size: 0.7rem;
  }
  .footer__logo {
    padding-bottom: 0.3rem;
    height: 5rem;
    width: 12rem;
    display: flex;
    justify-content: space-evenly;
    object-fit: cover;
  }
}
.main {
  margin-top: 50px;
  background-color: rgb(235, 234, 234);
  padding-bottom: 11rem;
  min-height: 100vh;
}

.main4 {
  background-color: rgb(235, 234, 234);
  padding-bottom: 0rem;
  min-height: 100vh;
}

.section-cards__title-container h1 {
  font-size: 25px;
}

.whatsapp-container {
  /* margin: 15px; */
  position: fixed;
  right: 15px;
  bottom: 0;
  /* background-color: black; */
  color: dodgerblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite;
}

.go-top {
  color: rgb(0, 0, 0);
  font-size: 36px;
  background-color: aqua;
}

.logoWP {
  height: 5rem;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite;
}

.logoWP:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

.hidden {
  opacity: 0;
}

.section-cards__title {
  margin-top: 0.5rem;
}
.section-cards__products-count {
  padding-top: 1rem;
  font-size: 1rem;
}
.section-cards__header {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
}
.section-cards__subtitle {
  color: #444;
  font-size: 1rem;
  padding: 1rem;
}
.section-cards__products-search-container {
  margin-top: 0.5rem;
  padding: 1rem;
  background-color: rgb(230, 230, 230);
  border-radius: 1rem;
  font-size: 1.2rem;
}
.section-cards__category {
  padding-left: 1rem;
}
.section-cards .cards-container {
  display: flex;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.section-cards-detail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-container-detail {
  width: 25rem;
}

.fa-magnifying-glass {
  cursor: pointer;
  font-size: 17px;
  color: #c3a343;
}

.product-search__input {
  border: none;
  height: 1.8rem;
  font-weight: 500;
  border-radius: 0.3rem;
  padding-left: 1rem;
  color: #b4b4b4;
  font-size: 0.8rem;
  width: 23rem;
}
.product-search__input1 {
  border: none;
  height: 1.8rem;
  font-weight: 500;
  border-radius: 0.3rem;
  padding-left: 1rem;
  color: #504f4f;
  font-size: 0.8rem;
  width: 23rem;
  padding-top: 1rem;
}
.product-search__btnDiv {
  padding: 0.5rem;
}
.product-search__btn {
  background-color: #c3a343;
  border: none;
  color: white;
  height: 2rem;
  width: 4rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.btn-inicio {
  display: flex;
  justify-content: center;
}
.btn-inicio__boton {
  text-align: center;
  padding-top: 0.7rem;
  height: 3rem;
  width: 10rem;
  margin: 1.5rem;
  background-color: rgb(240, 240, 240);
  border: solid rgb(193, 193, 193) 2px;
  border-radius: 0.5rem;
  color: rgb(193, 193, 193);
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .section-cards {
    margin-bottom: 18rem;
  }
}
@media screen and (min-width: 1000px) {
  .section-cards__header {
    display: flex;
  }
}
.main2 {
  background-color: rgb(235, 234, 234);
  min-height: 100vh;
  min-height: 100vh;
  padding-top: 50px;
}

.formContact {
  background-color: #dddada;
  padding: 15px;
  height: 470px;
  width: 700px;
  border-radius: 10px;
}
.formContact__Nombre {
  margin-bottom: 10px;
  width: 670px;
  border-radius: 5px;
  height: 35px;
  border: none;
  color: grey;
  padding-left: 5px;
}
.formContact__Email {
  margin-bottom: 10px;
  width: 670px;
  border-radius: 5px;
  height: 35px;
  border: none;
  padding-left: 5px;
}
.formContact__Consults {
  width: 670px;
  border-radius: 5px;
  height: 250px;
  border: none;
  padding-left: 5px;
}

.Contact-Container {
  display: flex;
  flex-direction: row;
}

.Contact {
  justify-content: end;
  padding: 30px;
  padding-top: 20px;
}
.Contact__IframeContact {
  width: 700px;
  height: 470px;
}

.btn {
  background-color: #c3a343;
  border: none;
  color: white;
  height: 2rem;
  width: 4rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.btn:hover {
  background-color: rgb(196, 191, 191);
  color: #2c2c2c;
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  .formContact-Container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Contact-Container {
    display: flex;
    flex-direction: column;
    margin-bottom: 18rem;
  }
  .main2 {
    background-color: rgb(235, 234, 234);
    margin-top: 10px;
    padding-bottom: 3rem;
  }
  .formContact {
    justify-content: center;
    height: 450px;
    width: 340px;
  }
  .formContact__Nombre {
    width: 310px;
  }
  .formContact__Email {
    width: 310px;
  }
  .formContact__Consults {
    width: 310px;
  }
  .logoAbascay {
    height: 60px;
  }
  .Contact {
    justify-content: center;
    padding: 15px;
    justify-content: center;
    flex-direction: row;
  }
  .Contact__IframeContact {
    justify-content: center;
    width: 340px;
    height: 350px;
  }
  .main2 {
    display: inline-block;
    flex-direction: row;
    width: 100%;
  }
}
.bodyform {
  display: flex;
  flex-direction: column;
}

.loginLogo {
  color: black;
  opacity: 0.3;
  font-size: 1.5rem;
}

.loginColor {
  color: orange;
  opacity: 1;
}

.headerCard {
  background-color: white;
  text-align: center;
  letter-spacing: 3px;
  height: 80px;
  display: flex;
}
.headerCard__title {
  width: 100%;
  align-items: center;
  padding-top: 5rem;
  padding: 0.2rem;
  margin: 1rem;
  color: #535353;
}

.main1 {
  display: flex;
  background-color: #EBEAEA;
  min-height: 100vh;
  padding-bottom: 8rem;
}

.mainLogin {
  display: flex;
  background-color: #EBEAEA;
  min-height: 100vh;
  padding-bottom: 30rem;
}

.register {
  background-color: #EBEAEA;
  padding-top: 4rem;
  margin: auto;
}
.register__login {
  opacity: 0.7;
}
.register__form {
  border-radius: 1rem;
  flex-direction: column;
  width: 22rem;
  height: 41rem;
  background-color: #eeeeee;
  padding: 15px;
  box-shadow: 0px 1px 2px rgb(20, 20, 20);
  margin-bottom: 3rem;
  margin-top: 1.8em;
}
.register__form1 {
  border-radius: 1rem;
  flex-direction: column;
  width: 22rem;
  height: 13rem;
  background-color: #eeeeee;
  padding: 15px;
  box-shadow: 0px 1px 2px rgb(20, 20, 20);
  margin-bottom: 5.1rem;
  margin-top: 1rem;
}
.register__text1 {
  color: #000000;
  padding-bottom: 15px;
  font-size: 0.8rem;
}
.register__box {
  border: none;
  height: 2rem;
  font-weight: 500;
  border-radius: 0.3rem;
  padding-left: 1rem;
  color: #666666;
  width: 20.3rem;
}
.register__casillero {
  border: none;
  padding-bottom: 1.2em;
}
.register__casillero {
  border: none;
  padding-bottom: 1.2em;
  color: #000000;
  padding-bottom: 15px;
  font-size: 0.8rem;
}
.register__boxmail {
  border: none;
  font-weight: 100;
  height: 2rem;
  border-radius: 0.3rem;
  padding-left: 1rem;
  color: #666666;
  width: 20.3rem;
}
.register__button {
  position: relative;
  left: 21.3rem;
  top: 0.3rem;
  height: 1rem;
  width: 1rem;
  background-color: #d6403a;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  padding-bottom: 5px;
}
.register__3points {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
}
.register__password {
  border: none;
  height: 2rem;
  font-weight: 700;
  border-radius: 0.3rem;
  padding-left: 1rem;
  width: 20.3rem;
}
.register__age {
  border: none;
  height: 2rem;
  font-weight: 700;
  border-radius: 0.3rem;
  padding-left: 1rem;
  width: 20.3rem;
}
.register__borndate {
  border: none;
  height: 2rem;
  font-weight: 700;
  border-radius: 0.3rem;
  padding-left: 1rem;
  width: 20.3rem;
  color: #b4b4b4;
}
.register__country {
  border: none;
  height: 2rem;
  font-weight: 700;
  border-radius: 0.3rem;
  padding-left: 1rem;
  width: 20.3rem;
  color: #b4b4b4;
}
.register__check {
  display: flex;
}
.register__gender {
  display: flex;
  color: rgb(0, 0, 0);
  padding: 2px;
  margin-left: 1rem;
  gap: 0.7rem;
  margin-left: 0;
}
.register__agree {
  display: flex;
  padding-top: 1.5rem;
  color: rgb(0, 0, 0);
  gap: 0.7rem;
}
.register .button {
  padding-top: 0.6rem;
}
.register .button__send {
  background-color: #c3a343;
  border: none;
  color: white;
  height: 2rem;
  width: 4rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.register .button__send:hover {
  background-color: rgb(196, 191, 191);
  color: #2c2c2c;
  font-weight: 600;
}
.register input:focus, .register textarea:focus {
  color: rgb(9, 4, 83);
}
.register .footerCard {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
}
@media screen and (max-width: 600px) {
  .register .register {
    height: 100%;
    padding-top: 5rem;
  }
  .register .register__form {
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 18rem;
  }
  .register .headerCard {
    height: 100px;
    margin-bottom: 1rem;
  }
  .register .headerCard__title {
    font-size: 32px;
    margin-top: 1rem;
  }
  .register .footerCard {
    padding: 10px;
  }
}

.section-info__header {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
}
.section-info__subtitle {
  text-align: center;
}
.section-info__title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  max-width: 80rem;
  min-width: 40rem;
}
.section-info__title {
  padding-bottom: 0.5rem;
}
.section-info__products-search-container {
  padding: 1rem;
  background-color: rgb(230, 230, 230);
  border-radius: 1rem;
  font-size: 1.2rem;
}
.section-info__videoIframe {
  height: 36.34rem;
  width: 64.6em;
  padding-top: 2rem;
}

.cards-container {
  display: flex;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.Contact {
  width: 100rem;
  flex-direction: row;
  justify-content: space-evenly;
}

.imageAboutUs {
  padding-top: 2rem;
  height: 45rem;
}

@media screen and (max-width: 500px) {
  .main {
    padding-bottom: 3rem;
    height: 100%;
  }
  .main4 {
    padding-bottom: 3rem;
    height: 100%;
  }
  .form {
    padding: 10px;
    height: 450px;
    width: 330px;
  }
  .form__Nombre {
    width: 310px;
  }
  .form__Email {
    width: 310px;
  }
  .form__Consults {
    width: 310px;
  }
  .Contact {
    flex-direction: row;
    justify-content: center;
    padding: 1.3rem;
    width: auto;
  }
  .Contact__Iframe {
    width: 330px;
    height: 350px;
  }
  .imageAboutUs {
    height: 15.4rem;
    justify-content: center;
    object-fit: cover;
  }
  .section-info__title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    max-width: 30rem;
    min-width: 20rem;
  }
  .section-info__header {
    font-size: 1rem;
    text-align: center;
    height: 86rem;
    padding-bottom: 18rem;
  }
  .section-info__subtitle {
    color: #444;
    font-size: 1rem;
    margin: 0rem 3rem 0rem 3rem;
    padding-top: 0.5rem;
  }
  .section-info__products-search-container {
    padding: 1rem;
    background-color: rgb(230, 230, 230);
    border-radius: 1rem;
    font-size: 1.2rem;
  }
  .section-info__videoIframe {
    height: 12rem;
    width: 100%;
    padding-top: 1rem;
  }
  .section-info .cards-container {
    display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
.ContactLocation {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 30px;
  padding-top: 20px;
  height: 50rem;
  background-color: rgb(235, 234, 234);
}
.ContactLocation__Iframe {
  padding: 15px;
  width: 500px;
  height: 450px;
}

.iframeLocation {
  padding-top: 2rem;
  margin: 10px auto;
  height: 70rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}

.adminContainer {
  padding-top: 5rem;
}

.header1 {
  padding-bottom: 1rem;
  font-size: 1.2rem;
  padding-left: 1rem;
}

.inputBox {
  width: 20rem;
  border-radius: 0.3rem;
  border: none;
  height: 1.5rem;
}

.inputBoxText {
  width: 20rem;
  border-radius: 0.3rem;
  border: none;
  height: 5rem;
}

.inputBoxTextDetail {
  width: 20rem;
  border-radius: 0.3rem;
  border: none;
  height: 15rem;
}

.product-form {
  padding: 0rem 1rem 0rem 1rem;
  border: 0px solid salmon;
  margin: 1px;
}

.container {
  display: flex;
  flex-direction: column;
  /* padding: 2rem;
  border: 3px solid salmon; */
}

.product-form > div {
  margin-bottom: 1rem;
}

.submit-btn-products {
  padding: 0.5rem 1rem;
  width: 20rem;
  border: 2px solid rgb(51, 87, 2);
  color: white;
  background-color: green;
}

.submit-btn:hover {
  background-color: rgb(1, 105, 1);
}

.edit-btn {
  background-color: dodgerblue;
  border-color: skyblue;
}

.table-container {
  width: 100vw;
  overflow-x: scroll;
}

.table-product {
  border-collapse: collapse;
}

.table-product thead tr {
  background-color: dodgerblue;
  color: white;
}

.table-product th, .table-product td {
  border: 1px solid skyblue;
  font-size: 0.75rem;
}

.table-product tr td:not(:first-child) {
  padding: 0.5rem;
}

.table-product tbody tr:nth-child(odd) {
  background-color: rgb(236, 250, 255);
}

.table-product tr th {
  padding: 0.5rem;
}

.product__img {
  width: 50px;
  object-fit: cover;
  height: 50px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.product__name {
  width: 10%;
}
.product__desc {
  width: 30%;
}
.product__price {
  font-weight: bold;
}
.product__price {
  font-weight: bold;
}
.product__info-icon.disabled {
  filter: grayscale(1);
  opacity: 0.5;
  pointer-events: none;
}
.product__info {
  font-size: 1.25rem;
}
.product__action-btnDetail {
  background-color: rgb(254, 33, 33);
  border: none;
  padding: 0.25rem;
  border-radius: 2px;
  color: rgb(241, 241, 241);
}
.product__action-btnDetail:hover {
  background-color: rgb(199, 1, 1) !important;
  cursor: pointer;
}
.product__action-btn {
  background-color: rgb(254, 33, 33);
  border: none;
  padding: 0.25rem;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}
.product__btn-edit {
  background-color: rgb(73, 162, 250);
}
.product__btn-edit:hover {
  background-color: rgb(8, 131, 255);
}
.product__btn-favorite {
  background-color: rgb(253, 247, 230);
}
.product__btn-favorite:hover {
  background-color: rgb(247, 217, 155);
}

.product__info, .product__actions {
  vertical-align: center;
  text-align: center;
  font-size: 1.5rem;
  border: none;
}

.btn-edit {
  background-color: rgb(73, 162, 250) !important;
}

.btn-edit:hover {
  background-color: rgb(8, 131, 255);
}

.btn-favorite {
  background-color: rgb(253, 247, 230);
}

.btn-favorite.active {
  background-color: rgb(250, 193, 30);
}

.btn-favorite:hover {
  background-color: rgb(218, 147, 6);
}

.mainDetail {
  background-color: rgb(235, 234, 234);
  flex-grow: 1;
}

.containerDetail {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.containerDetail__description {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin-left: 2rem;
}
.containerDetail__imageContainer {
  width: 25rem;
  height: 30rem;
  margin-top: 5rem;
  text-align: center;
  overflow: hidden;
}
.containerDetail__image {
  width: 25rem;
  overflow: hidden;
  background-size: cover;
}
.containerDetail__container {
  flex-grow: 1;
  width: 30rem;
}
.containerDetail__descriptionLargeProd {
  flex-direction: column;
  background-color: brown;
  width: 54rem;
}
.containerDetail__title {
  justify-content: center;
  font-weight: 500;
  font-size: 1.1rem;
  font-weight: 400;
}
.containerDetail__btn-add {
  background-color: rgba(0, 0, 0, 0.2039215686);
  color: white;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  height: 1.8rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 0.3rem;
  pointer-events: none;
}
.containerDetail__btn-add:hover {
  box-shadow: 0 0 4px #858585;
  transition: all 0.5s ease;
}
.containerDetail__btn-buy {
  background-color: #c3a343;
  color: white;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  height: 1.8rem;
  text-align: center;
}
.containerDetail__btn-buy:hover {
  box-shadow: 0 0 5px #858585;
  transition: all 0.5s ease;
}
.containerDetail__detail {
  padding-bottom: 1rem;
}

.containerDesc {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.containerDesc__cont {
  width: 43rem;
}
.containerDesc__title {
  justify-content: center;
  font-weight: 500;
  font-size: 1.2rem;
  font-weight: 400;
}
.containerDesc__detail {
  padding-bottom: 1rem;
}

@media screen and (min-width: 1000px) {
  .container {
    flex-direction: row;
  }
  .table-container {
    overflow-x: auto;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}

.adminContainer {
  padding-top: 5rem;
}

.header1 {
  padding-bottom: 1rem;
  font-size: 1.2rem;
  padding-left: 1rem;
}

.inputBox {
  width: 20rem;
  border-radius: 0.3rem;
  border: none;
  height: 1.5rem;
}

.inputBoxText {
  width: 20rem;
  border-radius: 0.3rem;
  border: none;
  height: 5rem;
}

.inputBoxTextDetail {
  width: 20rem;
  border-radius: 0.3rem;
  border: none;
  height: 15rem;
}

.user-form {
  padding: 0rem 1rem 0rem 1rem;
  border: 0px solid salmon;
  margin: 1px;
}

.container {
  display: flex;
  flex-direction: column;
  /* padding: 2rem;
  border: 3px solid salmon; */
}

.user-form > div {
  margin-bottom: 1rem;
}

.submit-btn {
  padding: 0.5rem 1rem;
  width: 20rem;
  border: 2px solid rgb(51, 87, 2);
  color: white;
  background-color: green;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.submit-btn:hover {
  background-color: rgb(1, 105, 1);
}

.edit-btn {
  background-color: dodgerblue;
  border-color: skyblue;
}

.table-container {
  width: 100vw;
  overflow-x: scroll;
}

.table-product {
  border-collapse: collapse;
}
.table-product__text-center {
  text-align: center;
}

.table-product thead tr {
  background-color: dodgerblue;
  color: white;
}

.table-product th, .table-product td {
  border: 1px solid skyblue;
  font-size: 0.75rem;
}

.table-product tr td:not(:first-child) {
  padding: 0.5rem;
}

.table-product tbody tr:nth-child(odd) {
  background-color: rgb(236, 250, 255);
}

.table-product tr th {
  padding: 0.5rem;
}

.user__img {
  width: 50px;
  object-fit: cover;
  height: 50px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.user__name {
  width: 10%;
  vertical-align: center;
  text-align: center;
}
.user__desc {
  width: 30%;
  vertical-align: center;
  text-align: center;
}
.user__price {
  font-weight: bold;
}
.user__price {
  font-weight: bold;
}
.user__info-icon.disabled {
  filter: grayscale(1);
  opacity: 0.5;
  pointer-events: none;
}
.user__info {
  font-size: 1.25rem;
}
.user__action-btnDetail {
  background-color: rgb(254, 33, 33);
  border: none;
  padding: 0.25rem;
  border-radius: 2px;
  color: rgb(241, 241, 241);
}
.user__action-btnDetail:hover {
  background-color: rgb(199, 1, 1) !important;
  cursor: pointer;
}
.user__action-btn {
  background-color: rgb(254, 33, 33);
  border: none;
  padding: 0.25rem;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}
.user__btn-edit {
  background-color: rgb(73, 162, 250);
}
.user__btn-edit:hover {
  background-color: rgb(8, 131, 255);
}
.user__btn-favorite {
  background-color: rgb(253, 247, 230);
}
.user__btn-favorite:hover {
  background-color: rgb(247, 217, 155);
}

.user__info, .user__actions {
  vertical-align: center;
  text-align: center;
  font-size: 1.5rem;
  border: none;
}

.btn-edit {
  background-color: rgb(73, 162, 250) !important;
}

.btn-edit:hover {
  background-color: rgb(8, 131, 255);
}

.btn-favorite {
  background-color: rgb(253, 247, 230);
}

.btn-favorite.active {
  background-color: rgb(250, 193, 30);
}

.btn-favorite:hover {
  background-color: rgb(218, 147, 6);
}

.mainDetail {
  background-color: rgb(235, 234, 234);
  flex-grow: 1;
}

.containerDetail {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.containerDetail__description {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin-left: 2rem;
}
.containerDetail__imageContainer {
  width: 25rem;
  height: 30rem;
  margin-left: 5rem;
  margin-top: 5rem;
  text-align: center;
  overflow: hidden;
}
.containerDetail__image {
  width: 25rem;
  overflow: hidden;
  background-size: cover;
}
.containerDetail__container {
  flex-grow: 1;
  width: 30rem;
}
.containerDetail__descriptionLarge {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 2rem;
  width: 54rem;
}
.containerDetail__title {
  justify-content: center;
  font-weight: 500;
  font-size: 1.1rem;
  font-weight: 400;
}
.containerDetail__btn-add {
  background-color: rgba(0, 0, 0, 0.2039215686);
  color: white;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  height: 1.8rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 0.3rem;
}
.containerDetail__btn-add:hover {
  box-shadow: 0 0 4px #858585;
  transition: all 0.5s ease;
}
.containerDetail__btn-buy {
  background-color: #c3a343;
  color: white;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  height: 1.8rem;
  text-align: center;
  pointer-events: none;
}
.containerDetail__btn-buy:hover {
  box-shadow: 0 0 5px #858585;
  transition: all 0.5s ease;
}
.containerDetail__detail {
  padding-bottom: 1rem;
}

.final-price {
  text-align: right;
  background-color: #32579e;
  color: white;
}

.final-price-number {
  text-align: center;
  background-color: #32579e;
  color: white;
}

@media screen and (min-width: 1000px) {
  .container {
    flex-direction: row;
  }
  .table-container {
    overflow-x: auto;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}

.adminContainer {
  padding-top: 5rem;
}

.header1 {
  padding-bottom: 1rem;
  font-size: 1.2rem;
  padding-left: 1rem;
}

.inputBox {
  width: 20rem;
  border-radius: 0.3rem;
  border: none;
  height: 1.5rem;
}

.inputBoxText {
  width: 20rem;
  border-radius: 0.3rem;
  border: none;
  height: 5rem;
}

.inputBoxTextDetail {
  width: 20rem;
  border-radius: 0.3rem;
  border: none;
  height: 15rem;
}

.product-form {
  padding: 0rem 1rem 0rem 1rem;
  border: 0px solid salmon;
  margin: 1px;
}

.container {
  display: flex;
  flex-direction: column;
  /* padding: 2rem;
  border: 3px solid salmon; */
}

.product-form > div {
  margin-bottom: 1rem;
}

.submit-btn-products {
  padding: 0.5rem 1rem;
  width: 20rem;
  border: 2px solid rgb(51, 87, 2);
  color: white;
  background-color: green;
}

.submit-btn:hover {
  background-color: rgb(1, 105, 1);
}

.edit-btn-order {
  background-color: dodgerblue;
  border-color: skyblue;
}

.table-container-order {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100vw;
  overflow-x: scroll;
}

.table-product {
  border-collapse: collapse;
}

.table-product thead tr {
  background-color: dodgerblue;
  color: white;
}

.table-product th, .table-product td {
  border: 1px solid skyblue;
  font-size: 0.75rem;
}

.table-product tr td:not(:first-child) {
  padding: 0.5rem;
}

.table-product tbody tr:nth-child(odd) {
  background-color: rgb(236, 250, 255);
}

.table-product tr th {
  padding: 0.5rem;
}

.order__img {
  width: 50px;
  object-fit: cover;
  height: 50px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.order__name {
  width: 10%;
}
.order__desc {
  width: 30%;
}
.order__quantity {
  vertical-align: center;
  text-align: center;
  margin-left: 3rem;
  justify-content: center;
  height: 0.3rem;
}
.order__price {
  font-weight: bold;
}
.order__price {
  font-weight: bold;
  text-align: center;
}
.order__info-icon.disabled {
  filter: grayscale(1);
  opacity: 0.5;
  pointer-events: none;
}
.order__info {
  font-size: 1.25rem;
}
.order__action-btnDetail {
  background-color: rgb(254, 33, 33);
  border: none;
  padding: 0.25rem;
  border-radius: 2px;
  color: rgb(241, 241, 241);
}
.order__action-btnDetail:hover {
  background-color: rgb(199, 1, 1) !important;
  cursor: pointer;
}
.order__action-btn {
  background-color: rgb(254, 33, 33);
  border: none;
  padding: 0.25rem;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}
.order__btn-edit {
  background-color: rgb(73, 162, 250);
}
.order__btn-edit:hover {
  background-color: rgb(8, 131, 255);
}
.order__btn-favorite {
  background-color: rgb(253, 247, 230);
}
.order__btn-favorite:hover {
  background-color: rgb(247, 217, 155);
}

.product__info, .order__actions {
  vertical-align: center;
  text-align: center;
  font-size: 1.5rem;
  border: none;
}

.btn-edit {
  background-color: rgb(73, 162, 250) !important;
}

.btn-edit:hover {
  background-color: rgb(8, 131, 255);
}

.btn-favorite {
  background-color: rgb(253, 247, 230);
}

.btn-favorite.active {
  background-color: rgb(250, 193, 30);
}

.btn-favorite:hover {
  background-color: rgb(218, 147, 6);
}

.mainDetail {
  background-color: rgb(235, 234, 234);
  flex-grow: 1;
}

.containerDetail {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.containerDetail__description {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin-left: 2rem;
}
.containerDetail__imageContainer {
  width: 25rem;
  height: 30rem;
  margin-top: 5rem;
  text-align: center;
  overflow: hidden;
}
.containerDetail__image {
  width: 25rem;
  overflow: hidden;
  background-size: cover;
}
.containerDetail__container {
  flex-grow: 1;
  width: 20rem;
}
.containerDetail__descriptionLarge {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 2rem;
  width: 54rem;
}
.containerDetail__title {
  justify-content: center;
  font-weight: 500;
  font-size: 1.1rem;
  font-weight: 400;
}
.containerDetail__containerAdd {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-bottom: 0.5rem;
  border: none;
  height: 2.5rem;
}
.containerDetail__containerBtn1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 6rem;
  border: 1px solid rgba(20, 20, 20, 0.3);
  background-color: white;
}
.containerDetail__containerBtn {
  cursor: pointer;
  background-color: white;
  width: 2rem;
  border: none;
}
.containerDetail__containerNumber {
  padding-top: 0.4rem;
}
.containerDetail__link {
  color: rgb(71, 71, 71);
}
.containerDetail__btn-add {
  background-color: rgba(0, 0, 0, 0.2039215686);
  color: white;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  height: 1.8rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 0.3rem;
}
.containerDetail__btn-add:hover {
  box-shadow: 0 0 4px #858585;
  transition: all 0.5s ease;
}
.containerDetail__btn-buy {
  background-color: #c3a343;
  color: white;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  height: 1.8rem;
  text-align: center;
}
.containerDetail__btn-buy:hover {
  box-shadow: 0 0 5px #858585;
  transition: all 0.5s ease;
}
.containerDetail__detail {
  padding-bottom: 1rem;
}

.boton-container {
  margin: auto;
  display: flex;
  justify-content: center;
  border: none;
  width: 150px;
}
.boton-container__boton-div {
  height: 2rem;
  border-radius: 1px;
  background-color: white;
  width: 5rem;
  border: 1px solid rgba(20, 20, 20, 0.3);
}
.boton-container__boton-order {
  height: 1.7rem;
  width: 1.5rem;
  border: none;
  background-color: white;
  cursor: pointer;
}

.buy-btn-container {
  display: flex;
  justify-content: right;
  text-align: center;
}

.buy-btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  width: 10rem;
  border: 2px solid green;
  color: white;
  background-color: green;
  cursor: pointer;
}

.buy-btn:hover {
  background-color: rgb(1, 105, 1);
}

.buy-btn-empty {
  visibility: hidden;
}

@media screen and (min-width: 1000px) {
  .container {
    flex-direction: row;
  }
  .table-container-order {
    overflow-x: auto;
  }
}
@media screen and (max-width: 500px) {
  .containerDesc__cont {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .containerDetail {
    margin: auto 0;
    flex-direction: column;
  }
  .containerDetail__image {
    width: 20rem;
    text-align: center;
    justify-content: center;
  }
  .containerDetail__description {
    margin-right: 2rem;
    width: 20rem;
  }
  .containerDetail__imageContainer {
    text-align: center;
    width: 20rem;
    height: 25rem;
    margin-left: 2rem;
    margin-top: 0rem;
  }
}