.section-info {

    // justify-content: center;
    &__header {
        display: flex;
        flex-direction: column;
        // text-transform: uppercase;
        font-size: 1rem;
        align-items: center;
        justify-content: center;
    }
    &__subtitle{
        text-align: center;
    }
    &__title-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // background-color:red;
        padding: 1rem;
        max-width: 80rem;
        min-width: 40rem;

    }
    &__title{
        padding-bottom: 0.5rem;
    }

    &__products-search-container {
        padding: 1rem;
        background-color: rgb(230, 230, 230);
        border-radius: 1rem;
        font-size: 1.2rem;
        
    }
    &__videoIframe{
        height: 36.34rem;
        width: 64.6em;
        padding-top: 2rem;
    }
}
    .cards-container {
        display: flex;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .Contact {
        width: 100rem;
        // background-color: brown;
        flex-direction: row;
        justify-content: space-evenly;
    }

.imageAboutUs {
    padding-top: 2rem;
    height:45rem;
}

@media screen and (max-width: 500px) {
    .main{
        padding-bottom: 3rem;
        height: 100%;      
    }
    .main4{
        padding-bottom: 3rem;
        height: 100%;      
    }
    .form { 
        padding: 10px;
        height: 450px;
        width: 330px;
        &__Nombre {
            width:310px;
        }
        &__Email {
            width:310px;
        }
        &__Consults{
            width:310px;
    
        }
    }
    .Contact {

        
        // background-color: brown;
        flex-direction: row;
        justify-content: center;
        padding: 1.3rem;
        width: auto;
        


        &__Iframe{  
            width:330px;
            height:350px;
        }   }
    
        .imageAboutUs {
            height:15.4rem;
            justify-content: center;
            // display: flex;
            // justify-content: space-evenly;
            object-fit: cover;
            
        }

        .section-info {
            &__title-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 1rem;
                max-width: 30rem;
                min-width: 20rem;
        
            }
            &__header {
                // text-transform: uppercase;
                font-size: 1rem;
                text-align: center;
                height:86rem ;
                padding-bottom: 18rem;
                
            }
            &__subtitle {
                color: #444;
                font-size: 1rem;
                margin: 0rem 3rem 0rem 3rem;
                padding-top: 0.5rem;
              
            }
            &__products-search-container {
                padding: 1rem;
                background-color: rgb(230, 230, 230);
                border-radius: 1rem;
                font-size: 1.2rem;  
            }
            &__videoIframe{
                height: 12rem;
                width: 100%;
                padding-top: 1rem;
            }

        
            .cards-container {
                display: flex;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            }

        
        }
    
    }