.main2 {
    background-color: rgb(235, 234, 234);
    // margin-top: 50px;
    // padding: 1.5rem 0;
    // padding-bottom:11.3rem;
    // min-height: 100vh;

    min-height: 100vh;
    // height: 100%;

    padding-top: 50px;
    

}

// .main3 {
//     background-color: rgb(235, 234, 234);
//     // margin-top: 10px;
//     padding: 1.5rem 0; 
//     padding-bottom:23.2rem;
//     display: flex;
//     min-height: 100vh;
    
// }


.formContact { 
    background-color: #dddada;
    padding:15px;
    height: 470px;
    width: 700px;
    border-radius: 10px;
    &__Nombre {
        margin-bottom: 10px;
        width:670px;
        border-radius: 5px;
        height: 35px;
        border: none;
        color: grey;
        padding-left: 5px;
    }
    &__Email {
        margin-bottom: 10px;
        width:670px;
        border-radius: 5px;
        height: 35px;
        border: none;
        padding-left: 5px;
    }
    &__Consults{
        width:670px;
        border-radius: 5px;
        height: 250px;
        border: none;
        padding-left: 5px;

    }
}

.Contact-Container{
    display: flex;
    flex-direction: row;
    // background-color: brown;


}
.Contact {
    
    
    // flex-direction: row;


    justify-content:end;
    padding: 30px;
    padding-top: 20px;



    &__IframeContact{  
        width:700px;
        height:470px;
    }
}


.btn {
    background-color:  #c3a343 ;
    border: none;
    color: white;
    height: 2rem;
    width: 4rem;
    cursor: pointer;
    border-radius: 0.5rem;
}
.btn:hover{
    background-color: rgb(196, 191, 191);
    color:  #2c2c2c;
    font-weight: 600;
}


// &__contact-item {
//     list-style: none;
// }


@media screen and (max-width: 500px) {

    // .Contact-Container{
    //     margin-bottom: 30px;
    // }
    .formContact-Container{
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .Contact-Container{
        display: flex;
        flex-direction: column;
        margin-bottom: 18rem;
    }
    .main2 {
        background-color: rgb(235, 234, 234);
        margin-top: 10px;
        padding-bottom:3rem;

    }
    .formContact { 
        justify-content: center;
        height: 450px;
        width: 340px;

        // background-color: chartreuse;

  
    
        &__Nombre {
            width:310px;
        }
        &__Email {
            width:310px;
        }
        &__Consults{
            width:310px;
    
        }
    }
    .logoAbascay{
        height: 60px;
    }
    .Contact {
        justify-content: center;
        padding: 15px;
        justify-content: center;
        flex-direction: row; 
        &__IframeContact{  
            justify-content: center;
            
            width:340px;
            height:350px;
        }
        
    }
    .main2 {
        display:inline-block;
        flex-direction:row;
        width:100%;
        // width: 100%;
}   
}

