* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}
.adminContainer{
    padding-top: 5rem;
}
.header1{
    padding-bottom: 1rem;
    font-size: 1.2rem;
    padding-left: 1rem;
}
.inputBox{
    width: 20rem;
    border-radius: 0.3rem;
    border: none;
    height: 1.5rem;
}

.inputBoxText{
    width: 20rem;
    border-radius: 0.3rem;
    border: none;
    height: 5rem;
}
.inputBoxTextDetail{
    width: 20rem;
    border-radius: 0.3rem;
    border: none;
    height: 15rem;
}
.product-form {

    padding: 0rem 1rem 0rem 1rem;
    border: 0px solid salmon;
    margin:     1px;
}


.container {
    display: flex;
    flex-direction: column;    
    /* padding: 2rem;
    border: 3px solid salmon; */
}
.product-form > div {
    margin-bottom: 1rem;
}

.submit-btn-products {
    padding: .5rem 1rem;
    width: 20rem;
    border: 2px solid rgb(51, 87, 2);
    color: white;
    background-color: green;
}
.submit-btn:hover{
    background-color: rgb(1, 105, 1);
}

.edit-btn-order{
    background-color: dodgerblue;
    border-color: skyblue;
}


.table-container-order {
    display: flex;
    flex-direction: column; 


    padding: 1rem;
    width: 100vw;
    overflow-x: scroll;
}

.table-product {
    border-collapse: collapse;
}

.table-product thead tr {
    background-color: dodgerblue;
    color: white;
    
}
.table-product th, .table-product td {
    border: 1px solid skyblue;
    font-size: .75rem;
}

.table-product tr td:not(:first-child) {
    padding: .5rem;
    
}
.table-product tbody tr:nth-child(odd) {
    background-color: rgb(236, 250, 255);
}
.table-product tr th {
    padding: .5rem;
}
.order{

    &__img{
        width: 50px;
        object-fit: cover;
        height: 50px;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
    }
    &__name{
        width: 10%;
    }
    &__desc {
        width: 30%;
    }
    &__quantity{
        vertical-align: center;
        text-align: center;
        margin-left: 3rem;
        // display: flex;
        justify-content: center;
        // opacity: 0.5;

        
        height:0.3rem;
       
    }
    &__price {
        font-weight: bold;
    }
    &__price {
        font-weight: bold;
        text-align: center;
    }
    &__info-icon.disabled{
        filter: grayscale(1);
        opacity: .5;
        pointer-events: none; 
    }
    &__info{
        font-size: 1.25rem ;
    }
    &__action-btnDetail {
        background-color: rgb(254, 33, 33) ;
        border: none ;
        padding: 0.25rem ;
        border-radius: 2px ;
        color: rgb(241, 241, 241) ;
    }
    &__action-btnDetail:hover {
        background-color: rgb(199, 1, 1) !important;
        cursor: pointer;
    }
    // &__action-btn{
    //     background-color: rgb(73, 162, 250); 
    //     cursor: pointer;
    //     border: none;
    //     color: white;
    //     font-size: 1.2rem;

    // }
    &__action-btn{
        background-color: rgb(254, 33, 33);
        border: none;
        padding: 0.25rem;
        border-radius: 2px;
        color: white; 
        cursor: pointer;
    }
    &__btn-edit{
        background-color: rgb(73, 162, 250); 
    }
    &__btn-edit:hover {
        background-color: rgb(8, 131, 255); 
    }
    &__btn-favorite {
        background-color: rgb(253, 247, 230); 
    }
    &__btn-favorite:hover {
        background-color: rgb(247, 217, 155); 
    }
}


.product__info, .order__actions {
    vertical-align: center;
    text-align: center;
    font-size: 1.5rem;
    border: none;
    
}


.btn-edit {
    background-color: rgb(73, 162, 250) !important; 

    
}
.btn-edit:hover {
    background-color: rgb(8, 131, 255); 
}

.btn-favorite {
    background-color: rgb(253, 247, 230); 
}
.btn-favorite.active{
    background-color: rgb(250,193,30);
}
.btn-favorite:hover {
    background-color: rgb(218, 147, 6); 
}

.mainDetail{
    background-color: rgb(235, 234, 234);
    flex-grow: 1;
}
.containerDetail{

    display: flex;
    flex-direction: row;
    justify-content: center;
    
    &__description{
        display: flex;
        flex-direction: column;
        margin-top: 5rem ;
        margin-left: 2rem;

    }
    &__imageContainer{
        // border: solid 1px red;
        width: 25rem;
        height: 30rem;
        margin-left: 5rem;
        margin-top: 5rem;
        text-align: center;
        overflow: hidden;
        
    }
    &__image{
        width: 25rem;
        overflow: hidden;
        background-size: cover;
    }
    &__container{
        flex-grow: 1;
        width: 30rem;
    }

    &__descriptionLarge{
        display: flex;
        flex-direction: column;
        margin-top: 1rem ;
        margin-left: 2rem;
        width: 54rem;
    }
    &__title{
        justify-content: center;
        font-weight: 500;
        font-size: 1.1rem;
        font-weight: 400;

    }
    &__containerAdd{
        
        display: flex;
        flex-direction: row;
        justify-content:left;
        padding-bottom: 0.5rem;
        border: none;
        height: 2.5rem;

        



    }
    &__containerBtn1{

        display: flex;
        flex-direction: row;
        justify-content:center;
        width: 6rem;
        border: 1px solid rgba(20, 20, 20, 0.3);
        background-color: white;

    }
    &__containerBtn{
        cursor: pointer;
        background-color: white;
        width: 2rem;
        border: none;
    }
    &__containerNumber{
        padding-top: 0.4rem;
    }
    &__link{
        color: rgb(71, 71, 71);
    }
    &__btn-add  {
        // padding: 1rem 1.5rem;
        background-color: #00000034;
        color: white;
        border-radius: 4px;
        border: 0;
        cursor: pointer;
        font-size: 1rem;
        height: 1.8rem;
        text-align:center;
        font-weight: 500;
        margin-bottom: 0.3rem;
    }
    &__btn-add:hover {
        box-shadow: 0 0 4px #858585;
        transition: all 0.5s ease;
    }
    &__btn-buy  {
        // padding: 1rem 1.5rem;
        background-color: #c3a343;
        color: white;
        border-radius: 4px;
        border: 0;
        cursor: pointer;
        font-size: 1rem;
        height: 1.8rem;
        text-align:center;
    }
    &__btn-buy:hover{
        box-shadow: 0 0 5px #858585;
        transition: all 0.5s ease;
    }
    &__detail{
        padding-bottom: 1rem;
    }
}
.boton-container{
    // align-items: center;
    margin: auto;
    display: flex;
    justify-content: center;
    border: none;


    width: 150px;
    &__boton-div{
        height: 2rem;
        border-radius: 1px;
        // margin: 0 auto;
        background-color:white;
        width: 5rem;
        border: 1px solid rgba(20, 20, 20, 0.3);

    }
    
    &__boton-order{

        height: 1.7rem;
        width:1.5rem;
        border: none;
        background-color:white;
        cursor: pointer;
        // padding: 0.5rem;
    }

}
.buy-btn-container{
    display: flex;
    justify-content: right;
    text-align: center;

}
.buy-btn {

    margin-top: 1rem;
    padding: .5rem 1rem;
    width: 10rem;
    border: 2px solid green;
    color: white;
    background-color: green;
    cursor: pointer;
}
.buy-btn:hover{
    background-color: rgb(1, 105, 1);
}
.buy-btn-empty{
    visibility: hidden;
}




@media screen and (min-width: 1000px) {
    .container {
        flex-direction: row;
    }
    .table-container-order {
        overflow-x: auto;
    }
}